<ul class="menu show-for-medium">
    <li><a class="padding-bottom-0 padding-left-0"href="">Login</a></li>
    <li><a class="padding-bottom-0" href=""><i class="fi-shopping-cart"></i> Cart</a></li>
</ul>
<div class="show-for-large">
    <hr></hr>
    <h2 class="h6 margin-bottom-0">
        <strong>Tatuajes falsos por artistas reales</strong>
        <small>Enviados con amor desde Bogota</small>
    </h2>
    <hr></hr>
    <div class="input-group show-for-medium">
        <input type="text" class="input-group-field small search" placeholder="Buscar...">
        <div class="input-group-button">
            <input type="submit" value="Go!" class="button secondary small text-uppercase">
        </div>
    </div>
</div>