<ul class="vertical menu text-uppercase show-for-large">
    <li><a>Todos</a></li>
    <li><a href="">Nuevos</a></li>
    <li><a href="">Los mas vendidos</a></li>
    <li><a href="">Accesorios</a></li>
    <li><a href="">Para Regalar</a></li>
    <li><hr></hr></li>
    <li class="font-bold"><a href="">Custom Italy</a></li>
</ul>

<ul class="menu text-uppercase hide-for-large">
    <li><a>Todos</a></li>
    <li><a href="">Nuevos</a></li>
    <li><a href="">Los mas vendidos</a></li>
    <li><a href="">Accesorios</a></li>
    <li><a href="">Para Regalar</a></li>
    <li><hr></hr></li>
    <li class="font-bold"><a href="">Custom Italy</a></li>
</ul>